{%extends 'base.html' %} {% block content %}
<a href="{% url 'polls:index' %}" class="back">Home</a>

<h1 class="heading">{{question.question_text}}</h1>
{% if error_message %}
<p class="errorMessage">{{ error_message }}</p>
{% endif %}

<form action="{% url 'polls:vote' question.id %}" method="POST">
  {% csrf_token %} {% for choice in question.choice_set.all %}

  <div class="formCheck">
    <input
      type="radio"
      name="choice"
      class="form-check-input"
      id="choice{{ forloop.counter }}"
      value="{{ choice.id }}"
    />
    <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label>
  </div>
  {% endfor %}
  <input type="submit" value="Vote" class="btn" />
</form>

{% endblock %}
